.projectbody {
    background-position-y: -180px;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: fill;
    background-image: url(../../resources/backgroundno.png);
    background-color:  rgb(24, 20, 37);
    height: 1900px;
    z-index: -1;
}

.centered {
  display: block;
  margin: 0;
  margin-top: -220px;
  text-align: center;
  background-image: url(../../resources/dropbox.png);
  background-position-x: center;
  background-position-y: 100px;
  background-size: 80vw 850px;
  background-repeat: no-repeat;
  height: 900px;
}

.projwrapper {
  margin: 0 auto;
  max-width: 1010px;
}

.projwrapper header {
  font-family: 'nunito';
  color: steelblue;
}

.projwrapper header h1 {
  font-family: 'neon';
}

.pinfo h1 {
  font-family: 'neon';
}

.content img {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(241, 86, 195);
  box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
}

.content {
  position: relative;
  
}

.pbox {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 130px;
}

.pcard {
    width: 40%;
    padding: 20px;
    margin: auto;
    display: block;
    position: relative;
    object-fit: cover;
}

.poverlay {
    position: absolute;
    width: 100%;
    height: 97%;
    left: 1px;
    top: 1px;
    background: rgba(26, 23, 66, 0.9);
    color: #fef5df;
    opacity: 0;
    transition: all 0.5s;
}
  
.pinfo {
    padding: 10px;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
    font-family: 'nunito';
  }

.bottomtext {
  text-align: center;
  margin-top: 240px;
  font-family: 'nunito';
  color:steelblue;
  line-height: 20px;
}
  
button {
    font-size: 12px;
    opacity: 0;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
    transform: translateY(10px);
    transition: all 0.5s;
  }

.pcard:hover .poverlay {
    opacity: 1;
  }

.pcard:hover .pinfo {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }

.pcard:hover button {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }
  
  .projhead {
    background-image: url(../../resources/retroheadersmallernostars.png);
    background-position: center;
    background-position-y: 0px;
    background-size: fill;
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
}

.projlogocontainer {
    position: absolute;
    width: 100%;
    height: 500px;
    padding-top: 230px;
}

.projparabox {
  height: 600px;
  overflow: hidden;
}

.projlogo {
    margin: auto;
    width: 500px;
    font-family: 'neon';
    box-shadow: 0px 0px 80px 23px #18142a;
    background-color:rgb(24,20,42, 0.7);
    border-radius: 100px / 50px;    
  }

  .projectimage {
    width: 500px;
  }

  @media (max-width: 1600px){
    .projwrapper {
       max-width: 880px;
     }
   }
   @media (max-width: 1440px){
     .projwrapper {
        max-width: 800px;
      }
    }
   
    @media (max-width: 1300px){
     .projwrapper {
        max-width: 760px;
      }
    }
    @media (max-width: 1100px){
     .projwrapper {
        max-width: 700px;
      }
    }
    @media (max-width: 900px){
     .projwrapper {
        max-width: 600px;
      }
    }
    @media (max-width: 800px){
     .projwrapper {
        max-width: 500px;
      }
    }