.pwrapper {
    border: 1px solid red;
}

.pcard {
    border: 1px solid yellow;
    width: 30%;
    height: 200px;
    margin: auto;
    display: inline-block;
    background-image: url(../../resources/sunthumb.png);
    background-size: cover;
}

.poverlay {
    width: 100%;
    height: 100%;
    display: grid;
    background: rgba(26, 23, 66, 0.9);
    color: #fef5df;
    opacity: 0;
    transition: all 0.5s;
}
  
.pinfo {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
  }
  
button {
    font-size: 12px;
    opacity: 0;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
    transform: translateY(10px);
    transition: all 0.5s;
  }

.pcard:hover .poverlay {
    opacity: 1;
  }

.pcard:hover .pinfo {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }

.pcard:hover button {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }
  