.pwrapper {
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.pcard {
    border: 1px solid yellow;
    width: 30%;
    height: 200px;
    margin: auto;
    display: block;
    position: relative;
    background-image: url(../../resources/sunthumb.png);
    background-size: cover;
}

.poverlay {
    width: 100%;
    height: 100%;
    display: grid;
    background: rgba(26, 23, 66, 0.9);
    color: #fef5df;
    opacity: 0;
    transition: all 0.5s;
}
  
.pinfo {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
  }
  
button {
    font-size: 12px;
    opacity: 0;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
    transform: translateY(10px);
    transition: all 0.5s;
  }

.pcard:hover .poverlay {
    opacity: 1;
  }

.pcard:hover .pinfo {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }

.pcard:hover button {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }
  
  .projhead {
    background-image: url(../../resources/retroheader.png);
    background-position: center;
    background-position-y: 0px;
    background-size: fill;
    width: 100%;
    height: 1200px;
    background-repeat: no-repeat;
}

.logocontainer {
    position: absolute;
    width: 100%;
    top: 270px;
}

.projlogo {
    margin: auto;
    margin-top: 70px;
    width: 600px;
    font-family: 'neon';
    box-shadow: 0px 0px 80px 23px #18142a;
    background-color:rgb(24,20,42, 0.7);
    border-radius: 100px / 50px;
  }

  .projectimage {
    width: 600px;
    margin-top: -40px;
  }

  body .suncontainer,
  body .buttontext,
  body .sun,
  body .button span {
    position: fixed;
  }
  body .suncontainer {
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
  }
  body .suncontainer a:hover .sun {
    bottom: 80px;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 0px 10px #ffdc2a;
  }

  body .suncontainer .sun {
    width: 44px;
    height: 44px;
    left: 1800px;
    bottom: 50px;
    background: linear-gradient(180deg, #ffdc2a 0%, #fb2182 41.54%);
    z-index: 2;
    border-radius: 65px;
    transition: all 0.5s ease-in-out;
  }

  body .suncontainer .buttontext {
    width: 110px;
    height: 40px;
    bottom:50px;
    left:1765px;
    background: rgb(24,20,42);
    box-shadow: 0px 0px 5px  rgb(117, 17, 184);
    border-radius: 2px;
    border-color: rgba(235,13,140);
    z-index: 3;
    border: 2px solid;
    transition: all 0.5s ease-in-out;
  }

  body .suncontainer .buttontext span {
    text-align: center;
    font-family: 'neon';
    font-size: 30px;
    line-height: 40px;
    margin-left: 12px;
    transition: all 0.3s ease-in-out;
    background-color:  rgb(117, 17, 184);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }