.mainbuttondiv {
    width:100%;
    height:500px;
    overflow: hidden;
}

.btnholder {
    width: 100%;
    height: 500px;
    margin:0;
    display: inline-block;
}

.abtbox {
    height: 200px;
    width: 40%;
    margin-top:20px;
    display: inline-block;
    transform:translate(-120%,-200%);
}

#abtxt {
    transition: transform 0.8s 1.25s, opacity 0.7s 1.7s;
    opacity: 0%;
}

.projbox {
    height: 200px;
    width: 60%;
    margin-top:20px;
    transform:translate(-220%,-200%);
}

.proj {
    width: 200px;
    height: 250px;
    float: left;
    margin: 20px 0px 0px 110px;
    text-align: center;
}

.projtitle {
    border: 1px solid rgb(27,182,225);
    box-shadow: 0px 0px 10px 2px rgb(27,182,225), inset 0px 0px 10px 2px rgb(27,182,225);
    border-radius: 10px;
    width: auto;
    padding: 10px;
    margin: auto;
    color: rgb(27,182,225);
}


#projtxt {
    transition: transform 0.8s 1.25s, opacity 0.7s 1.7s;
    opacity: 0%;
}

.workbox {
    transform:translate(200%,-250%);
    width: 80%;
    height: 300px;
    color:rgb(27,182,225);
    margin: auto;
}

#worktxt {
    transition: transform 0.8s 1.25s, opacity 0.7s 1.7s;
    opacity: 0%;
}

.work {
    width: 200px;
    height: 250px;
    float: left;
    text-align: center;
    margin: 20px 15px 0px 0px
}

.worktitle {
    border: 1px solid rgb(27,182,225);
    box-shadow: 0px 0px 10px 2px rgb(27,182,225), inset 0px 0px 10px 2px rgb(27,182,225);
    border-radius: 10px;
    width: auto;
    padding: 10px;
    margin: auto;
    color: rgb(27,182,225);
}

.embedsite {
    float: left;
    margin-top: 20px
}

.abouttext {
    text-align: center;
    border: 2px solid rgb(27,182,225);
    box-shadow: 0px 0px 10px 2px rgb(27,182,225), inset 0px 0px 10px 2px rgb(27,182,225);
    padding: 30px;
    border-radius: 10px;
    margin-top:0;
    z-index: -1;
    transition: 0.5s;
    color:rgb(27,182,225);
    font-size: 18px;
}

span {
    color: rgb(214,42,124);
}

#about {
    width:20%;
    margin-top:30px;
    transition: transform 0.5s 1s, opacity 0.5s 0s, width 0.5s 0.5s;
    z-index: 1;
}
#proj {
    margin-top:80px;
    transition: transform 0.5s 1s, opacity 0.5s 0s, width 0.5s;
}
#work {
    margin-top: 120px;
    width: 25%;
    transition: transform 0.5s 1s, opacity 0.5s 0s, width 0.5s 1s;
    position: absolute;
}
input {
    float:left;
    z-index: 100;
    width: 33%;
    margin-left:70px;
}

input:focus {
    outline: none;
}

#about:hover {
    animation-name: flicker;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes flicker {
    0% {opacity: 100%;}
    10%{opacity: 40%;}
    20%{opacity: 100%;}
    30%{opacity: 40%;}
    40%{opacity: 100%;}
    50%{opacity: 100%;}
    60%{opacity: 100%;}
    100%{opacity: 100%;}
}