.mainbuttondiv {
    border: 2px solid green;
    width:100%;
    height:500px;
    overflow: hidden;
}

.btnholder {
    width: 100%;
    height: 500px;
    border: 2px solid teal; 
    margin:0;
    display: inline-block;
}

.abtbox {
    border: 2px solid blueviolet;
    height: 200px;
    width: 40%;
    margin-top:20px;
    display: inline-block;
    transform:translate(-120%,-200%);
}

#abtxt {
    transition: transform 0.8s 1.25s, opacity 0.7s 1.7s;
    opacity: 0%;
}

.projbox {
    height: 200px;
    width: 60%;
    margin-top:20px;
    transform:translate(-220%,-200%);
}

#projtxt {
    transition: transform 0.8s 1.25s, opacity 0.7s 1.7s;
    opacity: 0%;
}

.workbox {
    transform:translate(50%,-250%);
}

#worktxt {
    transition: transform 0.8s 1.25s, opacity 0.7s 1.7s;
    opacity: 0%;
}

.abouttext {
    text-align: center;
    border: 2px solid rgb(27,182,225);
    box-shadow: 0px 0px 10px 2px rgb(27,182,225), inset 0px 0px 10px 2px rgb(27,182,225);
    padding: 30px;
    border-radius: 10px;
    margin-top:0;
    z-index: -1;
    transition: 0.5s;
    color:rgb(27,182,225);
    font-size: 18px;
}

#about {
    width:25%;
    margin-top:20px;
    transition: transform 0.5s 1s, opacity 0.5s 0s, width 0.5s 0.5s;
    z-index: 1;
}
#proj {
    margin-top:80px;
    transition: transform 0.5s 1s, opacity 0.5s 0s, width 0.5s;
}
#work {
    margin-top: 120px;
    width: 25%;
    transition: transform 0.5s 1s, opacity 0.5s 0s, width 0.5s 1s;
    position: absolute;
}
input {
    float:left;
    z-index: 100;
    width: 33%;
    margin-left:70px;
}

input:focus {
    outline: none;
}

