.mainbuttondiv {
    width:100%;
    height:500px;
    overflow: hidden;
}

.btnholder {
    width: 100%;
    height: 500px;
    display: inline-block;
}

.abtbox {
    height: 200px;
    width: 40%;
    margin-top:20px;
    display: inline-block;
    transform:translate(-120%,-200%);
}

#abtxt {
    transition: transform 0.8s 1.25s, opacity 0.7s 1.7s;
    opacity: 0%;
}

.projbox {
    height: 200px;
    width: 60%;
    margin-top:20px;
    transform:translate(-220%,-200%);
}

.project {
    width: 200px;
    height: 250px;
    float: left;
    margin: 20px 0px 0px 110px;
    text-align: center;
}

.projtitle {
    border: 1px solid rgb(27,182,225);
    box-shadow: 0px 0px 10px 2px rgb(27,182,225), inset 0px 0px 10px 2px rgb(27,182,225);
    border-radius: 10px;
    width: auto;
    padding: 10px;
    margin: auto;
    color: rgb(27,182,225);
}


#projtxt {
    transition: transform 0.8s 1.25s, opacity 0.7s 1.7s;
    opacity: 0%;
}

.workbox {
    transform:translate(200%,-250%);
    width: 400px;
    height: 300px;
    color:rgb(27,182,225);
    margin: auto;
}

#worktxt {
    transition: transform 0.8s 1.25s, opacity 0.7s 1.7s;
    opacity: 0%;
}

.work {
    position: absolute;
    text-align: center;
    width: 200px;
    margin: auto;
}

.worktitle {
    border: 1px solid rgb(27,182,225);
    box-shadow: 0px 0px 10px 2px rgb(27,182,225), inset 0px 0px 10px 2px rgb(27,182,225);
    border-radius: 10px;
    width: auto;
    padding: 10px;
    margin: auto;
    color: rgb(27,182,225);
}

.embedsite {
    width:300px;
}

.abouttext {
    text-align: center;
    border: 2px solid rgb(27,182,225);
    box-shadow: 0px 0px 10px 2px rgb(27,182,225), inset 0px 0px 10px 2px rgb(27,182,225);
    padding: 30px;
    border-radius: 10px;
    margin-top:0;
    z-index: -1;
    transition: 0.5s;
    color:rgb(27,182,225);
    font-size: 18px;
}

span {
    color: rgb(214,42,124);
}

#about {
    width:20%;
    margin-top:50px;
    transition: transform 0.5s 1s, opacity 0.5s 0s, width 0.5s 0.5s;
    z-index: 1;
}
#proj {
    margin-top:80px;
    margin-left: 150px;
    margin-right:100px;
    transition: transform 0.5s 1s, opacity 0.5s 0s, width 0.5s;
}
#work {
    margin-top: 120px;
    width: 25%;
    position: absolute;
    transition: transform 0.5s 1s, opacity 0.5s 0s, width 0.5s 1s;
    box-shadow: 0px 0px 10px 2px rgb(27,182,225)
}
input {
    float:left;
    z-index: 100;
    width: 33%;
    margin-left:70px;
}

input:focus {
    outline: none;
}

#about:hover {
    animation-name: flicker;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

#proj:hover {
    animation-name: shine;
    animation-duration: 1s;
    animation-iteration-count: 1;

}

#work:hover {
    box-shadow: 0px 0px 20px 2px rgb(27,182,225)
}

@keyframes flicker {
    0% {opacity: 100%;}
    10%{opacity: 40%;}
    20%{opacity: 100%;}
    30%{opacity: 40%;}
    40%{opacity: 100%;}
    50%{opacity: 100%;}
    60%{opacity: 100%;}
    100%{opacity: 100%;}
}

@keyframes shine {
    from {
        background-repeat:no-repeat;
        background-image:-webkit-linear-gradient(
            top left,
            rgba(255, 255, 255, 0.0) 0%,
            rgba(255, 255, 255, 0.0) 45%,
            rgba(255, 255, 255, 0.5) 48%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0.5) 52%,
            rgba(255, 255, 255, 0.0) 57%,
            rgba(255, 255, 255, 0.0) 100%
        );
        background-position:-250px -250px;
        background-size: 600px 600px
    }
    to {
        background-repeat:no-repeat;
        background-position:600px 250px;
    }
}