.alldiv {
    border: 1px solid rgb(227, 15, 255);
    height: 850px;
    text-align: center;
    width: 100%;
    max-width: 1920px;
}

.btnholder {
    width:99.8%;
    border: 1px solid goldenrod;
    height: 250px;
}

.btn {
    width: 33.1%;
    height: 250px;
    min-width: 400px;
    float: left;
}

input {
    width: 80%;
}

input:focus {
    outline: none;
}
#aboutimgholder {
    transition: transform 0.5s 1s, opacity 0.5s 0s, width 0.5s 0.5s;

}
#projectimgholder {
    transition: transform 0.5s 1s, opacity 0.5s 0s, width 0s 0.6s;

}
#contactimgholder {
    transition: transform 0.5s 1s, opacity 0.5s 0s, width 1s 0.6s;

}
#aboutimg {
    max-width:600px;
    transition: transform 0.5s 0.8s, opacity 0.5s 0s, width 0.8s 1s;
}
#projectimg {
    max-width: 600px;
    margin-top: 50px;
    transition: transform 0.5s 0.8s, opacity 0.5s 0s, width 0.8s 0.6s;
}
#contactimg {
    margin-top: 80px;
    max-width: 600px;
    transition: transform 0.5s 0.8s, opacity 0.5s 0s, width 0.8s 1s;
}

#aboutcont, #projectcont, #contactcont {
    opacity: 0%;
}

.content {
    border: 2px solid rgb(0, 255, 85);
    width: 90%;
    height: 600px;
    display: inline-block;
    transform: translateY(100%);
    transition: 1s 1s;
}