@font-face {
  font-family: 'broadwayregular';
  src: url('../../resources/broadwayfont/ufonts.com_broadway-webfont.woff2') format('woff2'),
       url('../../resources/broadwayfont/ufonts.com_broadway-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neon';
  src: url('../../resources/neon/neon1-webfont.woff2') format('woff2'),
       url('../../resources/neon/neon1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito';
  src: url('../../resources/nunito/nunito-regular1-webfont.woff2') format('woff2'),
       url('../../resources/nunito/nunito-regular1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'streamsterregular';
  src: url('../../resources/streamster/streamster1-webfont.woff2') format('woff2'),
       url('../../resources/streamster/streamster1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.App {
  scroll-behavior: smooth;
}

.Appbody {
background-position-y: -180px;
background-position-x: center;
background-repeat: no-repeat;
background-size: fill;
background-image: url(../../resources/backgroundno.png);
background-color:  rgb(24, 20, 37);
height: 5700px;
z-index: -1;
}

.backgroundImage {
  margin-top: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  width: 100%;
}

h2 {
  font-family: 'neon';
}

#welcome path:nth-child(1) {
  
}
#welcome path:nth-child(2) {
  
}
#welcome path:nth-child(3) {
  
}
#welcome path:nth-child(4) {
  
}
#welcome path:nth-child(5) {
  
}
#welcome path:nth-child(6) {
  
}
#welcome path:nth-child(7) {
  
}

.suncontainer,
.sunbuttontext,
.risingsun,
.button span {
  position: fixed;
}
.suncontainer {
  top: 800px;
}

.suncontainer a:hover .risingsun {
  bottom: 80px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 10px #ffdc2a;
}

.suncontainer .risingsun {
  width: 44px;
  height: 44px;
  left: 1800px;
  bottom: 50px;
  background: linear-gradient(180deg, #ffdc2a 0%, #fb2182 41.54%);
  z-index: 2;
  border-radius: 65px;
  transition: all 0.5s ease-in-out;
}

.suncontainer .sunbuttontext {
  width: 110px;
  height: 40px;
  bottom:50px;
  left:1765px;
  background: rgb(24,20,42);
  box-shadow: 0px 0px 5px  rgb(117, 17, 184);
  border-radius: 2px;
  border-color: rgba(235,13,140);
  z-index: 3;
  border: 2px solid;
  transition: all 0.5s ease-in-out;
}

.suncontainer .sunbuttontext span {
  text-align: center;
  font-family: 'streamsterregular';
  padding-right: 20px;
  font-size: 40px;
  line-height: 45px;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
  background:linear-gradient(180deg, rgba(252,176,42,1) 30%, rgba(235,13,140,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}