@font-face {
  font-family: 'broadwayregular';
  src: url('../../resources/broadwayfont/ufonts.com_broadway-webfont.woff2') format('woff2'),
       url('../../resources/broadwayfont/ufonts.com_broadway-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neon';
  src: url('../../resources/neon/neon1-webfont.woff2') format('woff2'),
       url('../../resources/neon/neon1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito';
  src: url('../../resources/nunito/nunito-regular1-webfont.woff2') format('woff2'),
       url('../../resources/nunito/nunito-regular1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.App {
  scroll-behavior: smooth;
}

.Appbody {
background-position-y: 350px;
background-position-x: center;
background-repeat: no-repeat;
background-color: rgb(32,26,86);
}

.backgroundImage {
  margin-top: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  width: 100%;
  font-family: 'nunito';
}

h2 {
  font-family: 'neon';
}

.introbox {
  margin-top: 50px;
  margin-left: 150px;
  display: flex;
  height: 350px;
  z-index: -1;
  justify-content: center;
}

.introbox article {
  justify-content: center;
}

.introbox h1 {
  margin-left: 150px;
  margin-top: 20px;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 10vw;
  font-family: 'neon';
  color: rgb(27,182,225);
  overflow: hidden;
  letter-spacing: 2;
  color: #ffe6ff;
  text-shadow: 
  5px 5px 0 #542776,
  10px 10px 0 #e63b95,
  15px 15px 0 rgb(27,182,225),
  20px 20px 0 #f06286,
  25px 25px 0 #f5af6c,
  0 0 1.5rem #ff65bd,
-0.2rem 0.1rem 1rem #ff65bd, 
0.2rem 0.1rem 1rem #ff65bd,
0 -0.5rem 2rem #ff2483, 
0 0.5rem 3rem #ff2483;

}

.introbox h1:hover {
  animation-name: trip;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

@keyframes trip {
  20%{text-shadow:  
    5px 5px 0 #f5af6c,
    10px 10px 0 #542776,
    15px 15px 0 #e63b95,
    20px 20px 0 rgb(27,182,225),
    25px 25px 0 #f06286,
    
    0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 
    0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 
    0 0.5rem 3rem #ff2483;}
  40%{text-shadow:  
    5px 5px 0 #f06286,
    10px 10px 0 #f5af6c,
    15px 15px 0 #542776,
    20px 20px 0 #e63b95,
    25px 25px 0 rgb(27,182,225),    

    0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 
    0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 
    0 0.5rem 3rem #ff2483;}
  60%{text-shadow:  
    5px 5px 0 rgb(27,182,225),
    10px 10px 0 #f06286,
    15px 15px 0 #f5af6c,
    20px 20px 0 #542776,
    25px 25px 0 #e63b95,    

    0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 
    0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 
    0 0.5rem 3rem #ff2483;}
  80%{text-shadow:  
    5px 5px 0 #e63b95,
    10px 10px 0 rgb(27,182,225),
    15px 15px 0 #f06286,
    20px 20px 0 #f5af6c,
    25px 25px 0 #542776,   

    0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 
    0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 
    0 0.5rem 3rem #ff2483;}
  100%{text-shadow: 
     5px 5px 0 #542776,
    10px 10px 0 #e63b95,
    15px 15px 0 rgb(27,182,225),
    20px 20px 0 #f06286,
    25px 25px 0 #f5af6c,    
    0 0 1.5rem #ff65bd,

    -0.2rem 0.1rem 1rem #ff65bd, 
    0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 
    0 0.5rem 3rem #ff2483;}
}

.introbox p {
  color: rgb(27,182,225);
  margin:auto;
  text-align: center;
  margin-top: 30px;
  padding: 0px 50px;
  font-size: 24px;
}

.otherboxes {
  height: 450px;
  margin-top: 150px;
}

.sun {
  width: 250px;
  position: absolute;
  margin-top: 71px;
  z-index: 0;
}

.tree {
  width: 100%;
  margin: auto;
  margin-top: 0px;
}