@font-face {
  font-family: 'broadwayregular';
  src: url('../../resources/broadwayfont/ufonts.com_broadway-webfont.woff2') format('woff2'),
       url('../../resources/broadwayfont/ufonts.com_broadway-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neon';
  src: url('../../resources/neon/neon1-webfont.woff2') format('woff2'),
       url('../../resources/neon/neon1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito';
  src: url('../../resources/nunito/nunito-regular1-webfont.woff2') format('woff2'),
       url('../../resources/nunito/nunito-regular1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.App {
  scroll-behavior: smooth;
}

.Appbody {
background-position-y: 350px;
background-position-x: center;
background-repeat: no-repeat;
background-color: rgb(32,26,86);
}

.backgroundImage {
  margin-top: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  width: 100%;
  font-family: 'nunito';
}

h2 {
  font-family: 'neon';
}

.introbox {
  margin-top: 50px;
  margin-left: 150px;
  display: flex;
  height: 400px;
  z-index: -1;
  justify-content: center;
}

.introbox article {
  justify-content: center;
}

.introbox h1 {
  margin-left: 150px;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 10vw;
  font-family: 'broadwayregular';
  color: rgb(27,182,225);
  overflow: hidden;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  letter-spacing: 2;
  font-family: "Clip";
  text-transform: uppercase;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
}

.introbox p {
  color: rgb(27,182,225);
  margin:auto;
  text-align: center;
  margin-top: 30px;
  padding: 0px 50px;
  font-size: 24px;
}

.otherboxes {
  height: 450px;
  margin-top: 100px;
}

.sun {
  width: 250px;
  position: absolute;
  margin-top: 71px;
  z-index: 0;
}

.tree {
  width: 100%;
  margin: auto;
  margin-top: 0px;
}