@font-face {
  font-family: 'broadwayregular';
  src: url('../../resources/broadwayfont/ufonts.com_broadway-webfont.woff2') format('woff2'),
       url('../../resources/broadwayfont/ufonts.com_broadway-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.App {
  scroll-behavior: smooth;

}

.Appbody {
background-position-y: 350px;
background-position-x: center;
background-repeat: no-repeat;
background-color: rgb(32,26,86);
}

.backgroundImage {
  margin-top: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  width: 100%;
}

.introbox {
  margin-top: 50px;
  margin-left: 350px;
  display: flex;
  height: 400px;
  z-index: -1;
  justify-content: center;
}

.introbox article {
  justify-content: center;
}

.introbox h1 {
  margin: auto;
  margin-right:10px;
  text-align: center;
  font-size: 10vw;
  font-family: 'broadwayregular';
  color: rgb(27,182,225);
  overflow: hidden;
}

.introbox p {
  color: rgb(27,182,225);
  margin:auto;
  text-align: center;
  margin-top: 30px;
  padding: 0px 50px;
  font-size: 24px;
}

.otherboxes {
  height: 800px;
  margin-top: 200px;
}

.sun {
  width: 250px;
  position: absolute;
  margin-top: 71px;
  z-index: 0;
}

.tree {
  width: 100%;
  margin: auto;
  margin-top: 0px;
}