@font-face {
  font-family: 'broadwayregular';
  src: url('../../resources/broadwayfont/ufonts.com_broadway-webfont.woff2') format('woff2'),
       url('../../resources/broadwayfont/ufonts.com_broadway-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neon';
  src: url('../../resources/neon/neon1-webfont.woff2') format('woff2'),
       url('../../resources/neon/neon1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito';
  src: url('../../resources/nunito/nunito-regular1-webfont.woff2') format('woff2'),
       url('../../resources/nunito/nunito-regular1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'streamsterregular';
  src: url('../../resources/streamster/streamster1-webfont.woff2') format('woff2'),
       url('../../resources/streamster/streamster1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.App {
  scroll-behavior: smooth;
}

.Appbody {
background-position-y: -180px;
background-position-x: center;
background-repeat: no-repeat;
background-size: fill, ;
background-image: url(../../resources/backgroundno.png);
background-color:  rgb(24, 20, 37);
height: 5700px;
z-index: -1;
}

.backgroundImage {
  margin-top: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  width: 100%;
}

h2 {
  font-family: 'neon';
}

.introbox {
  margin: auto;
  margin-top: -280px;
  position: initial !important;
  width: 600px;
  height: 300px;
  font-family: 'neon';
  text-align: center;
  box-shadow: 0px 0px 80px 23px #18142a;
  background-color:rgb(24,20,42, 0.7);
  border-radius: 100px / 50px;
}

.introbox h1 {
  margin-bottom: -40px;
}

.introbox p {
  margin-top: 0;
  color: #f03c70;
  font-size: 24px;
}

.introbox article {
  justify-content: center;
}

.gradient {
  background:linear-gradient(180deg, rgba(252,176,42,1) 30%, rgba(235,13,140,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.otherboxes {
  margin-top: 1000px;
}

.aboutp {
  font-family: 'neon';
  font-size: 24px;
  border: 1.5px solid rgb(27,182,225);
  box-shadow: 0px 0px 10px 2px rgb(27,182,225), inset 0px 0px 10px 2px rgb(27,182,225);
  border-radius: 10px;
  color: rgb(27,182,225);
  padding: 40px;
  width: 60vw;
  margin: auto;
  margin-top: 130px;
}

.parasun {
  background-image: url(../../resources/justsun.png);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-position-y: -20px;
  background-repeat: no-repeat;
  width: 80%;
  z-index: 0;
}

.paramount {
  background-image: url(../../resources/justmountains.png);
  background-position: center;
  background-position-y: 120px;
  background-size: fill;
  width: 100%;
  height: 2900px;
  background-repeat: no-repeat;
}

.mountain {
  height: 1000px;
  z-index: 1;
}

.aboutMe {
  position: absolute;
  top: 1800px;
  height: 800px;
  width: 100%;
  z-index: 1;
  margin-left: 100px;
}

.projects {
  position: absolute;
  top: 850px;
  height: 800px;
  width: 100%;
  z-index: 1;
  margin-left: 100px;
}

.contact {
  position: absolute;
  top: 4250px;
  height: 800px;
  width: 100%;
  z-index: 1;
  margin-left: 100px;
}

.contactimg {
  width: 600px;
  margin-bottom: 50px;
  margin-top: 90px;
}

.projimg {
  width: 650px;
  margin-bottom: 50px;
}

.information {
  width: 40%;
  height: 100%;
  float: left;
  z-index: 1;
}

.infocontent {
  margin-left: 120px;
}

.infotext {
  font-family: 'neon';
  font-size: 24px;
  color:rgb(27,182,225);
  width: 400px;
  margin-top: 30px;
}

.infobutton {
  width: 120px;
  height:40px;
  border-radius:180px;
  margin-top: 10px;
  margin-left: 30px;
  cursor:pointer;
}

.rightpic {
  float: right;
  width: 55%;
  height: 500px;
  margin-top: 90px;
  margin-right:20px;
}

.rightpic img {
  height: 400px;
  position: absolute;
  z-index: -1;
}

.line {
    display: block;
    width: 88px;
    height: 4px;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(252,176,42,1) 0%, rgba(235,13,140,1) 70%);
} 

.line2 {
  margin-top:12px;
  margin-left: 50px;
}

.pic {
  border: 1px solid green;
  width: 49%;
  height: 100%;
  float: right;
}

.wire {
  background-image: url(../../resources/wire2.png);
  position: absolute;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 2000px;
  width: 100%;
  z-index: 0;
}

.shape {
  background-image: url(../../resources/shape2.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -450px;
  height: 2200px;
  width: 100%;
  z-index: 1;
}

.transition {
  width: 100%;
  position: absolute;
  top: 2600px;
  height: 2000px;
}

.footer {
  position: absolute;
  background-image: url(../../resources/footer.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
  top: 5000px;
}



#welcome path:nth-child(1) {
  
}
#welcome path:nth-child(2) {
  
}
#welcome path:nth-child(3) {
  
}
#welcome path:nth-child(4) {
  
}
#welcome path:nth-child(5) {
  
}
#welcome path:nth-child(6) {
  
}
#welcome path:nth-child(7) {
  
}