@font-face {
  font-family: 'broadwayregular';
  src: url('../../resources/broadwayfont/ufonts.com_broadway-webfont.woff2') format('woff2'),
       url('../../resources/broadwayfont/ufonts.com_broadway-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'neon';
  src: url('../../resources/neon/neon1-webfont.woff2') format('woff2'),
       url('../../resources/neon/neon1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito';
  src: url('../../resources/nunito/nunito-regular1-webfont.woff2') format('woff2'),
       url('../../resources/nunito/nunito-regular1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'streamsterregular';
  src: url('../../resources/streamster/streamster1-webfont.woff2') format('woff2'),
       url('../../resources/streamster/streamster1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.App {
  scroll-behavior: smooth;
}

.Appbody {
background-position-y: -180px;
background-position-x: center;
background-repeat: no-repeat;
background-size: fill, ;
background-image: url(../../resources/backgroundno.png), url(../../resources/longbackground.png), linear-gradient(180deg, rgb(27, 26, 74) 0%, rgba(53,30,92,1) 21%, rgb(27, 21, 46) 30%, rgb(24, 20, 37) 70%);
height: 3150px;
z-index: -1;
}

.backgroundImage {
  margin-top: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  width: 100%;
}

h2 {
  font-family: 'neon';
}

.introbox {
  margin: auto;
  margin-top: -250px;
  position: initial !important;
  width: 600px;
  height: 240px;
  font-family: 'neon';
  text-align: center;
  box-shadow: 0px 0px 80px 23px #18142a;
  background-color:rgb(24,20,42, 0.7);
  border-radius: 100px / 50px;
}

.introbox h1 {
  margin-bottom: -40px;
}

.introbox p {
  margin-top: 0;
  color: #f03c70;
  font-size: 24px;
}

.introbox article {
  justify-content: center;
}

.gradient {
  background:linear-gradient(180deg, rgba(252,176,42,1) 30%, rgba(235,13,140,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.otherboxes {
  margin-top: 1000px;
}

.aboutp {
  font-family: 'neon';
  font-size: 24px;
  border: 1.5px solid rgb(27,182,225);
  box-shadow: 0px 0px 10px 2px rgb(27,182,225), inset 0px 0px 10px 2px rgb(27,182,225);
  border-radius: 10px;
  color: rgb(27,182,225);
  padding: 40px;
  width: 60vw;
  margin: auto;
  margin-top: 130px;
}

.trees {  
  width: 100%;
}

.parasun {
  background-image: url(../../resources/justsun.png);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-position-y: -20px;
  background-repeat: no-repeat;
  z-index: 0;
}

.paramount {
  background-image: url(../../resources/justmountains.png);
  background-position: center;
  background-position-y: 120px;
  height: 1900px;
  background-repeat: no-repeat;
}

.mountain {
  height: 1000px;
  z-index: 1;
}

#welcome path:nth-child(1) {
  
}
#welcome path:nth-child(2) {
  
}
#welcome path:nth-child(3) {
  
}
#welcome path:nth-child(4) {
  
}
#welcome path:nth-child(5) {
  
}
#welcome path:nth-child(6) {
  
}
#welcome path:nth-child(7) {
  
}