.Appbody {
background-position-y: 350px;
background-repeat: no-repeat;
}

.backgroundImage {
  margin-top: 500px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  min-width: 750px;
}

.mainbox {
  width: 78%;
  margin: auto;
  display: flex;
  height: 1000px;
  z-index: -1;
  justify-content: center;
}

.mainbox article {
  width: 400px;
  margin-top: 10px;
  text-align: center;
  position: absolute;
  font-size: large;
  border: solid 5px;
}

.backvideo {
  position: absolute;
  height: 150%;
  float: left;
  z-index: -1;
  object-fit: fill;
}

.sun {
  width: 250px;
  position: absolute;
  margin-top: 71px;
  z-index: 0;
}