.aboutbody {
    background-position-y: -180px;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: fill;
    background-image: url(../../resources/backgroundno.png);
    background-color:  rgb(24, 20, 37);
    height: 1700px;
    z-index: -1;
}

.abouthead {
    background-image: url(../../resources/retroheadersmallershortstars.png);
    background-position: center;
    background-position-y: 0px;
    background-size: fill;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
}

.aboutlogocontainer {
    position: absolute;
    width: 100%;
    top: 160px;
    margin-top: 180px;
}

.aboutlogo {
    margin: auto;
    width: 490px;
    font-family: 'neon';
    box-shadow: 0px 0px 80px 23px #18142a;
    background-color:rgb(24,20,42, 0.6);
    border-radius: 100px / 50px;
  }

.aboutimage {
    width: 520px;
}

.aboutparabox {
    height: 500px;
    overflow: hidden;
  }


.aboutmain {
    border: 1px solid yellow;
    height: 700px;
}

.picbox {
    border: 1px solid blue;
    height: 600px;
    width: 600px;
    float: left;
    margin-left: 325px;
}

.abouttextbox {
    border: 1px solid red;
    height: 600px;
    width: 600px;
    float: left;
    margin-left: 50px;
}