.abouthead {
    background-image: url(../../resources/retroheader.png);
    background-position: center;
    background-position-y: 0px;
    background-size: fill;
    width: 100%;
    height: 1200px;
    background-repeat: no-repeat;
}

.logocontainer {
    position: absolute;
    width: 100%;
    top: 270px;
}

.aboutlogo {
    margin: auto;
    width: 600px;
    font-family: 'neon';
    box-shadow: 0px 0px 80px 23px #18142a;
    background-color:rgb(24,20,42, 0.7);
    border-radius: 100px / 50px;
  }