.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  background-image: 'C:/Users/minut/Documents/Projects/backvid.mp4';
  min-width: 750px;
}

.mainbox {
  background-color: midnightblue;
  width: 78%;
  margin: auto;
  display: flex;
  height: 1000px;
}

.imgbox {
  width: 250px;
  height: 300px;
  align-items: left;
  border: solid 4px;
  border-color: rgb(214, 22, 198);
  position: absolute;
  margin-top: 260px;
  margin-left: 80px;
  z-index: 1;
}

.backvideo {
  position: absolute;
  height: 150%;
  float: left;
  z-index: -1;
  object-fit: fill;
}

.sun {
  width: 250px;
  position: absolute;
  margin-top: 71px;
  z-index: 0;
}