span {
    color: rgb(214,42,124);
}
 
.text {
    text-align: center;
    border: 2px solid rgb(27,182,225);
    box-shadow: 0px 0px 10px 2px rgb(27,182,225), inset 0px 0px 10px 2px rgb(27,182,225);
    width: 50vw;
    padding: 30px;
    border-radius: 10px;
    margin-right: 50px;
    margin-top: 100px;
    float:right;
}

@keyframes test {
    0% {opacity: 100%;}
    10%{opacity: 40%;}
    20%{opacity: 100%;}
    30%{opacity: 60%;}
    40%{opacity: 100%;}
    50%{opacity: 50%;}
    60%{opacity: 100%;}
    100% {opacity: 100%;}
}
    
.amimg {
    float: left;
    margin-left: 150px;
    animation-name: test;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: absolute;
}

.box {

    height: 500px;
    color: rgb(27,182,225);
};

