.slider {
    width: 100%;
    height: 450px;
    box-sizing: border-box;
    margin:0;
    padding: 0;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 500px;
    overflow: hidden;
    transition: .5s;
}

button {
    position: absolute;
    z-index: 1;
    margin-top: 350px;
    margin-left: 5px;
    border-radius: 2px;
    height: 12px;
    width: 10px;
}

button:focus {
    outline: none;
}

.inactive {
    background-color: rgb(79, 26, 223);
    border: solid 1px rgb(27,182,225);
}

.active {
    background-color: rgb(214,42,124);
    border: solid 1px rgb(27,182,225);
}

#go1 {
    transform: translateX(0);
    right: 210px;
    cursor: pointer;
}

#go2 {
    transform: translateX(100%);
    right: 200px;
    cursor: pointer;
}

#go3 {
    transform: translateX(200%);
    right: 190px;
    cursor: pointer;
}